.button
    padding: 11px 24px
    border: none
    border-radius: 2px
    text-transform: uppercase
    font-size: 0.93 rem
    &:hover 
        cursor: pointer
    &__primary
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        transition: box-shadow 0.3s
        &:hover 
            box-shadow: none
    &__outline
        border: 1px solid $light
        background-color: transparent
        color: $light
        min-width: 16.6rem
        min-height: 4.07rem
.hero
    &__scroll-down
        font-family: 'Yeseva One', cursive
.label
    font-size: 1.142rem
    &--light
        color: rgba($light, 0.5)
.input
    background-color: transparent
    border: none
    border-bottom: 1px solid rgba(54, 54, 54, 0.3)
    font-size: 1.285rem
    color: $light
    padding: 0.5rem 0
    &--light
        &::placeholder
            color: $light
.policy
    &__checkbox
        opacity: 0
        visibility: hidden
        &:checked +
            .policy__label
                &::before
                    background: $primary url('../image/check.svg') no-repeat center / 0.8rem
    &__label
        display: flex
        align-items: center
        &::before
            content: ''
            width: 18px
            height: 18px
            border: 1px solid $primary
            border-radius: 1px
            cursor: pointer
            margin-right: 0.64rem
        &--center
            justify-content: center
em
    &.invalid
        color: tomato 
input
    &.invalid
        border-bottom: 1px solid tomato