@media screen and ( max-width: 1270px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1.3rem
@media screen and ( max-width: 1025px )
    .card
        &__title
            min-height: 3rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .card
        &__title
            min-height: 3rem
    .swiper
        &-container
            margin-bottom: 2.42rem
            width: 100%
        &-slide
            img
                width: 100%
    .footer
        background-color: $dark
@media screen and ( max-width: 890px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
            margin-left: 0 
    .col-50
        width: 100%
    .section
        &-title
            &__word
                &::after
                    display: none
        &-slide
            &__value
                line-height: 135.84%
    .control
        &__section-title
            width: 100%
    .swiper
        &-slide
            img
                width: 100%
@media screen and ( max-width: 720px )
    .hero
        &__button
            margin-bottom: 2rem
    .col-50
        width: 100%
    .section
        &__dark
            background-color: $dark
            color: $light
        &-title
            &__word
                &::after
                    display: none
            &__heading
                // color: $light
    .design
        &__section-title
            color: $light
        &-slide
            &__value
                line-height: 135.84%
    .control
        &__form
            flex-direction: column
            min-height: 24.2857rem
        .button
            &__primary
                order: 3
    .policy
        &__label
            position: absolute
    .footer
        background: none
        background-color: $dark
        &__content
            flex-direction: column
        &__map
            order: 5
        &__text
            flex-direction: column 
        &__menu
            display: none
@media screen and ( max-width: 670px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
            margin-left: 0
    .card
        &__text
            margin-left: 0
    .section
        &-design
            background-color: $dark
    .hero
        &__content
            max-width: 330px
        &__text
            max-width: 320px
            margin-top: 1.42rem
            line-height: 1.5rem
        &__title
            line-height: 132%
    .design
        &__text
            color: $light
    .modal
        &__dialog
            margin: 20px 20px
@media screen and ( min-height: 670px )
    .modal
        &__dialog
            margin: 20px 20px 
@media screen and ( max-height: 580px )
    .hero
        &__scroll-down
            display: none
            font-size: 0.85rem
@media screen and ( max-width: 570px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0 auto
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
            font-size: 0.85rem
        &__content
            min-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
@media screen and ( max-width: 520px )
    .section
        &-design
            padding: 0
    .section
        &-types
            padding: 0
    .hero
        &__scroll-down
            display: none
